<extend name="Base/common" />

<block name="body">
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_01.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_02.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_03.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_04.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_05.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_06.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_07.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_08.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_09.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_10.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_11.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_12.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_13.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_14.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_15.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_16.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_17.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_18.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_19.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_20.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_21.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_22.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_23.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_24.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_25.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/dream/dream_26.jpg" alt="帮邦堂 梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/index_44.jpg" alt="帮邦堂 DIY梦想拍 玩出创意 抢夺商机" />
<img width="100%" src="__PUBLIC__/bbt168/images/index_46.jpg" alt="帮邦堂 DIY梦想拍 玩出创意 抢夺商机" />
</block>