
<!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p style="color: #fff; text-align: center;">
                        公司名称：北京明枫色彩科技有限公司&nbsp;&nbsp;&nbsp;官方网站：www.bbt168.net<br>
                        联系地址：北京市海淀区苏州街紫金大厦&nbsp;&nbsp;邮政编码：100080<br>
                        免费热线：400-9988-056&nbsp;&nbsp;&nbsp;&nbsp;总机热线：13381215606
                        &nbsp;&nbsp;13269261239<br> Copyright &copy;
                        2009-{:date("Y")} 帮邦堂创意数码影像 Inc. All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </div>

<include file="Public/var"/>
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
	<block name="hidden"></block>
</div>
<script language="JavaScript" src="http://code.54kefu.net/kefu/js/b168/819968.js" type="text/javascript" charset="utf-8"></script>

