<extend name="Base/common"/>
<block name="cssjs">
<link href="__PUBLIC__/bbt168/v20161216/img3.css" rel="stylesheet" type="text/css" />
</block>
<block name="body">

<div id="box">
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_01.jpg" alt="帮邦堂diy礼品加盟收益高服务周到" /></div>
   <div><img src="__PUBLIC__/bbt168/v20161216/pic_02.jpg" alt="帮邦堂diy礼品加盟收益高服务周到" /></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_03.jpg"  alt="帮邦堂diy礼品加盟小投资回报快"/></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_04.jpg"  alt=""/></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_05.jpg"  alt="帮邦堂diy礼品加盟投资小风险低"/></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_06.jpg" alt="" /></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_07.jpg"  alt="帮邦堂diy礼品加盟创造出美好前程"/></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_08.jpg" alt="" /></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_09.jpg"  alt="帮邦堂diy礼品加盟让你轻松创业的创业项目"/></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_10.jpg"  alt="帮邦堂diy礼品加盟手机彩绘手机壳个性定制防水防辐射" /></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_11.jpg"  alt="帮邦堂diy礼品加盟全面引进韩国先进的彩印技术超前一步"/></div>
  <div class="pic12">
  <div class="t1">       Diy个性定制的年交易额持续攀升，据国内某创意品牌数据统计，我国DIY创意礼品市场将迎来新高潮，手机、充电宝、杯子、打火机、项链、手链、发卡、服装等各个方面都可以DIY制作，引来众多消费者的青睐。</div>
  </div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_13.jpg"  alt="帮邦堂diy礼品加盟全面引进韩国先进的彩印技术超前一步"/></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_14.jpg"  alt="帮邦堂diy礼品加盟总部是拥有专业的专业时尚设计师团队"/></div>
  <div class="pic15">
   <div class="t1">时尚白领：帮邦堂DIY手机工坊能让我的手机体现出我的品位。</div>
   <div class="t2">潮流达人：帮邦堂DIY手机工坊不仅能让我的手机酷炫而且还有个性。</div>
   <div class="t3">大中学生：帮邦堂DIY手机工坊能让我的手机成为同学的焦点。</div>
  </div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_16.jpg" alt="帮邦堂diy礼品加盟个性礼品定制多功能模块" /></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_17.jpg"  alt=""/></div>
    <div class="pic18">
  <iframe src="__PUBLIC__/bbt168/v20161216/gun.htm"  width="930"  scrolling="No" frameborder="0" ></iframe>
  </div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_19.jpg"  alt="帮邦堂diy礼品加盟行业翘楚经验丰富"/></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_20.gif"  alt="帮邦堂diy礼品加盟行业翘楚经验丰富"/></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_21.jpg"  alt="帮邦堂diy礼品加盟资金安全透明有保障"/></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_22.jpg"  alt="帮邦堂diy礼品加盟创业金钥匙"/></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_23.jpg"  alt=""/></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_24.jpg" alt="帮邦堂diy礼品加盟朋友们认可的投资品牌带给你成功" /></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_25.jpg"  alt="帮邦堂diy礼品加盟一个深得到消费者朋友们所信任的品牌"/></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_26.jpg" alt="" /></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_27.jpg" alt="" /></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_28.jpg"  alt="帮邦堂diy礼品加盟全程总部协作服务"/></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_29.jpg" alt="" /></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_30.jpg"  alt="帮邦堂diy礼品加盟2000多种类精品饰品"/></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_31.jpg"  alt="帮邦堂diy礼品加盟2000多种类精品饰品"/></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_32.jpg"  alt="帮邦堂diy礼品加盟2000多种类精品饰品"/></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_33.jpg"  alt="帮邦堂diy礼品加盟2000多种类精品饰品"/></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_34.jpg"  alt="帮邦堂diy礼品加盟2000多种类精品饰品"/></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_35.jpg"  alt="帮邦堂diy礼品加盟2000多种类精品饰品"/></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_36.jpg"  alt="帮邦堂diy礼品加盟2000多种类精品饰品"/></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_38.jpg"  alt="帮邦堂diy礼品加盟2000多种类精品饰品"/></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_39.jpg" alt="" /></div>
  <div class="pic40">
  <div class="t1">无库存压力，只需购进手机外壳即可开业，价格便宜，不占场地。</div>
  <div class="t2">设备机电一体化，简单培训上手，一人操作，节省人力物力，降低经营成本。</div>
  <div class="t3">手机壳风格多样，可以满足不同顾客的个性需求，无论是硬壳、软壳、镀金、镀银皆可。</div>
  <div class="t4">摒弃传统彩印方法，自动化控制技术，准确定位，也可雕刻蚀刻，每个图案都活灵活现。</div>
  <div class="t5">金属、石材、水晶、玻璃、皮革、棉质、布料等材质，都能彩印。</div>
  <div class="t6">设备小巧灵活，工作速度快，无论是小批量还是单件都可制作。</div>
  </div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_41.jpg" alt="" /></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_42.jpg" alt="" /></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_43.jpg" alt="" /></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_44.jpg" alt="" /></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_45.jpg" alt="" /></div>
  <div class="pic46">
  <div class="t1">在大型卖场、购物中心等客源众多的地区开家"店中店"，竞争对手少，生意兴隆。</div>
  <div class="t2">拥有个人店面，不受天气、时间限制，备受时尚男女、学生一族的青睐。</div>
  <div class="t3">网店具有全球性、开放性、效率高、成本低的特点，适合中小投资者，网购人群集中
为80、90后，是个性定制产品的目标群体。</div>
  <div class="t4">全新推出微店模式，移动店，一个手机轻松搞定所有订单，面向广大人群，利润与日俱增。</div>
  </div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_47.jpg" alt="" /></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_48.jpg" alt="" /></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_49.jpg" alt="" /></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_50.jpg" alt="" /></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_51.jpg" alt="" /></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_52.jpg" alt="" /></div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_53.jpg" alt="" /></div>
  <div class="pic54">
  <div class="t1">一台设备占领多个景点，人气滚滚，尤其是在旅游旺季，常常出现排队等候制作的热卖场面。</div>
  <div class="t2">学校附近开设流动点或临街店，学生有很强的好奇心和攀比心，也是个性化消费群体。</div>
  <div class="t3">与照相馆、婚纱影楼合作，所有的顾客也是你的顾客。</div>
  <div class="t4">人面玩偶、个性手机壳、独特马克杯、精美的水晶肯定让你的生意十分诱人。</div>
  <div class="t5">可立柜台或者经营店中店，节省成本，客流不断。</div>
  </div>
  <div><img src="__PUBLIC__/bbt168/v20161216/pic_55.jpg" alt="" /></div>
  <div class="pic56">
  <div class="t1">帮邦堂为商标总局注册商标，品牌质量有保障。</div>
  <div class="t2">总部为您提供专业的选址服务，让您赢在起跑线。</div>
  <div class="t3">总部为您提供专业的店面装修设计方案，使店面让顾客眼前一亮。</div>
  <div class="t4">市场新技术优先获知，通过电话或网络为您解决技术难题。</div>
  <div class="t5">优质的设备、可靠地耗材供应，优先供货，享受总部特价耗材。</div>
  <div class="t6">整合总部和各地代理店的营销经验，让您开店无忧。</div>
  <div class="t7">代理商共享总部品牌宣传，包括电视媒体、网络媒体、平面媒体等。</div>
  <div class="t8">代理商享有区域保护政策，让您轻松占领本地市场份额。</div>
  </div>

<div><img src="__PUBLIC__/bbt168/v20161216/pic_57.jpg" alt="" /></div>
<div><img src="__PUBLIC__/bbt168/v20161216/pic_58.jpg" alt="" /></div>

<!--
<div class="liuyanban" id="lyb"><div class="s"><a href="#" id="lyb" name="#lyb"></a><script src="http://www.3158.cn/static/js/gb/master/latest.js" type="text/javascript"></script></div></div>
-->  

</div>

<!--contact_way-->
<div id="box">
<div><img src="__PUBLIC__/bbt168/v20161216/pic_60.jpg"/></div>

</div>
       
</block>
