<extend name="Base/common"/>
<block name="cssjs">
<script src="__STATIC__/lightbox/js/lightbox-2.6.min.js"></script>
<link href="__STATIC__/lightbox/css/lightbox.css" rel="stylesheet" />
</block>
<block name="body">

<div class="article">

<div class="row m-t-15 category">
    <div class="col-xs-12">
	    <a href="{:U("Product/index")}">所有商品</a>
	    <foreach name="category" item="cate">
	    <a href="{:U("Product/index?id=".$cate['id'])}">{$cate['name']}</a>
	    </foreach>
    </div>
</div>

<div class="row">

<notempty name="list">

<volist name="list" id="info">
<div class="col-md-3 product-list">
<a href="{$info.image}" data-lightbox="roadtrip" title="{$info.name}">
<img class="m-b-15" src="{$info.image}" alt="{$info.name}" title="{$info.name}" />
</a>
<p class="text-center">{$info.name}</p>
</div>
</volist>
<else />
<p class="text-center">暂无商品信息</p>
</notempty>
</div>

<div class="row m-t-15">
    <div class="col-md-12">
    {$page}
    </div>
</div>


</div>



</block>
