@CHARSET "UTF-8";
body{
    font-family:"PingFang SC","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑",STHeiti,"华文细黑",sans-serif;
    font-size:14px;
    line-height:1.6;
    background-color:#eee;
    
}
/* bootstrap */
.container{max-width:970px;padding:0px;}

/* 间距 */
.m-t-25{margin-top:25px;}
.m-t-30{margin-top:30px;}
.m-b-15{margin-bottom:15px;}
.m-t-15{margin-top:15px;}

/* header */
.header{
    background:url(images/top_bj.jpg) repeat-x center top #000;
    height:187px;
}
.hot_phone{height:62px;}
.hot_phone img{position:absolute; bottom:0px; right:15px;}
.top-nav{height:100px;}
.top-nav ul{
	position:absolute; 
	bottom:0px; 
	left:15px;
	border:0px solid;
	border-top-left-radius:8px;
	border-top-right-radius:8px; 
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
}
.top-nav ul li{float:left; height:75px; border-right:1px solid #ff7c00; background:url(images/nav_bg.png) no-repeat center;padding-right:1px;}
.top-nav ul li:last-child{border-right:none;}
.top-nav ul li:first-child, .top-nav ul li:last-child{padding-right:0px;}
.top-nav ul li:hover{background:url(images/nav_bg_hover.png) no-repeat center;}
/*
.nav li a{font-size:18px;font-weight:500;color:#2e0006;height:75px;width:100%;}
.nav > li > a:hover, .nav > li > a:focus{background:none;color:#fff;}
*/

/* footer */
.footer{background:url(images/foot_bj.jpg) repeat-x center;height:138px;color:#fff;padding-top:20px;}


/* article */
.article{
	margin:0 0 10px 0; 
	background-color:#fff; 
	padding:30px; 
	border:1px solid #e5e5e5; 
	box-shadow: 0 3px 8px -6px rgba(0, 0, 0, 0.1);
	width:100%;
	}
	
/* product */
.product-list{min-height:300px; overflow:hidden; cursor:pointer; border:1px solid #fff; padding:15px;}
.product-list:hover{border-color:#feb31c;}
.product-list img{width:100%;}

/* page */
.data-page{text-align:center; color:#999;}
.current{font-weight:bold;color:#feb31c;}
.data-page a,.page span{padding:10px;}
.data-page a:hover{color:#feb31c;}

/* category */
.category{border-bottom:1px solid rgba(0, 0, 0, 0.1); margin:0 0 30px 0; padding-bottom:30px;}
.category a{color:#666;margin-right:30px;}
.category a:hover{color:#feb31c;}